.page {
  position: relative;
  background-color: #FDFDFD;

  view,
  div {
    box-sizing: border-box;
  }
}

.page-index {
  padding: 60px 20px 30px;

  .logo {
    margin: 0 auto;
    margin-top: 60px;
    font-size: 0;
    text-align: center;

    .img {
      width: 264px;
      height: 180px;
    }
  }

  .page-title {
    color: #474747;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }

  .main {
    .panel{
      margin: 10px 0px 20px;
      .panel__title{
        margin-bottom: 20px;
      }
    }
    .submit{
      margin-top: 30px;
    }
  }
}
